;TIP: one can comment lines in this config format by adding a ; at the start of a line

[data]

;distributional_vectors = ../data/original_vecs/SIMLEX999_SIMVERB3000-test_SIMVERB500-dev.pickle
distributional_vectors = ''
emb_type = pickle
; lists with files containing antonymy and synonymy constraints should be inside square brackets, delimited by commas.
;antonyms = [../data/thesaurus/attract_repel/adv_sub_antonyms.txt]
;synonyms = [../data/thesaurus/attract_repel/adv_sub_synonyms.txt]
antonyms = ''
synonyms = ''
; if either types of constraints are not used, that can be specified as follows:
;antonyms = []
;synonyms = []

; simlex/simverb/ws353 evaluate dir for the embedding
;eval_dir_path=train_eval_data/
eval_dir_path = ''
;output_filepath=../data/specialized_vecs/attract_repel/adv_SIMLEX999_SIMVERB3000-test_SIMVERB500-dev.pickle
output_filepath = ''

[hyperparameters]

attract_margin = 1.0
repel_margin = 1.0
batch_size = 50
l2_reg_constant = 0.000000001
max_iter = 10
curr_iter = 0
